<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>

    {% load static %}

    {% include 'bootstrap.html' %}
    {% include 'core/navbar.html' %}

    <script src="{% static 'js/base_schedule.js' %}"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top: 100px;">

        <div class="row">
            <div class="col-sm-3">
                <h1 class="mt3">Schedules</h1>
            </div>

            <div class="col-sm-7 mt-3">
                {% if schedules %}
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked> All
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Sales
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Accounting
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"> Inventory
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5"> Technical
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6"> Procurement
                  </label>
                </div>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary"><a href="{% url 'schedule:add-schedule' %}">Add a Schedule</a></button>
            </div>
        </div>

        {% if messages  %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        {% if not schedules %}
            <p>There are no schedules yet. Set a schedule now</p>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mt-3 mb-3">
                      <span class="input-group-addon" id="basic-addon1">Search</span>
                      <input type="text" class="form-control" placeholder="name, description, customer, department, deadline, status" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Customer</th>
                <th>Responsible Department</th>
                <th>Deadline Date</th>
                <th>Deadline Time</th>
                <th>Is Completed</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for sched in schedules %}
                <tr>
                    <td>{{ sched.name }}</td>
                    <td>{{ sched.description }}</td>
                    <td>{{ sched.customer.company_name }}</td>
                    <td>{{ sched.responsible_department }}</td>
                    <td>{{ sched.deadline_date }}</td>
                    <td>{{ sched.deadline_time }}</td>
                    <td>
                        {% if sched.is_completed is False %}
                            Not yet
                        {% else %}
                            Completed
                        {% endif %}

                    </td>
                    <td><a href="#">
                            <button class="btn btn-success btn-sm"> Complete Task</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

        {% endif %}
    </div>
</body>
</html>