<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    {% load static %}
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
</head>
<body>

    <table>
        <tr>
            <th>Username</th>
            <th>First Name</th>
        </tr>
    {% for x in profiles %}
        <tr>
            <td>{{ x.user.username }}</td>
            <td>{{ x.first_name }}</td>
        </tr>
    {% endfor %}
    </table>

    <a href="{% url 'core:logout' %}"> Logout</a>

</body>
</html>